html {
  scroll-behavior: smooth;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Media Queries End*/

/* Bootstrap Padding Fix */
[class*="col-"] {
  padding: 1rem;
}

body {
  background-color: rgb(243, 240, 234);
}

#about_us {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  padding-top: 1px;
  max-height: max-content;
  text-align: justify;
}

.image-container {
  vertical-align: auto;
  padding-top: 90px;
  padding-bottom: 30px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_heading {
  font-family: 'Dancing Script', cursive;
  color: #af1d70be;
  display: flex;
  justify-content: center;
}

.about_para {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.about_img {
  margin: auto;
}

#contributors {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.contri_heading h1 {
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  color: #af1d70be;
  padding-top: 0;
  font-size: 3.4rem;
}

/* .contri_names {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */


.speakers-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 145px 0 90px;
  overflow: hidden;
  background-color: white;
}

.speaker-block {
  position: relative;
  margin-bottom: 40px;
}

.speaker-block .inner-box {
  position: relative;
}

.speaker-block .image-box {
  position: relative;
  padding: 30px;
  background-color: rgba(255, 255, 255, .15);
  overflow: hidden;
  border-radius: 7%;
}


.speaker-block .image-box .image:after,
.speaker-block .image-box:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  content: "";
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before {
  height: 100%;
}

.speaker-block .image-box .image:after {
  opacity: .40;
  z-index: 1;
  top: auto;
  bottom: 0;
  background-color: white;
  /* change*/
}

.speaker-block .image-box .image {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.speaker-block .image-box .image img {
  display: block;
  width: 100%;
  height: auto;
}


.speaker-block .social-links {
  position: absolute;
  left: 0;
  bottom: -140px;
  padding: 30px;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.speaker-block .social-links ul {
  position: relative;
  padding: 15px;
  /*padding: 30px 20px;*/
  text-align: center;
  background-color: #fcdf4f;
}

.speaker-block .social-links li {
  position: relative;
  display: inline-block;
  margin: 0 9px;
}

.speaker-block .social-links li a {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400px;
  font-size: 2.2rem;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}